{% extends "base.html" %}

{% block start %}
{% load static %}
<link rel="stylesheet" href="{% static 'product.css' %}">
<div class="product-header">
  <span class="breadcrumb">
    <a href="{% url 'home' %}">Home</a> /
    <a href="{% url 'category' %}">{{ category_name }}</a> /
    <span class="current-page">Products</span>
  </span>
  <h2 class="product-title">Collection of {{ category_name }}</h2>
</div>

        <div class="product-container">
            {% for item in products %}
            <a href="{% url 'productview' item.category.slug item.slug %}">
                <div class="products-card">
                  <div class="product-image-wrapper">
                    {% if item.product_quantity > 0 %}
                        <span class="discount-percentage">- {{ item.discount_percentage }}%</span>
                        {% else %}
                        <span class="sold-out-badge">Sold Out</span>
                    {% endif %}
                        <img src="{{ item.product_image.url }}" alt="Product Image">
                    
                </div>
                    <h5 class="product-name">{{ item.product_name }}</h5>
                    <p>
                      <span class="original-price">Rs {{ item.original_price }}</span>
                      <span class="discounted-price">Rs {{ item.discounted_price }}</span>                      
                   </p>
                    <input type="hidden" class="prod_id" value="{{ item.id }}">
                    <input type="hidden" class="quantity-input" value="1">
                    {% csrf_token %}
                    <button class="add-to-cart-btn">Add to Cart</button>
                </div>
            </a>
            {% endfor %}
        </div>
        
        <script>
          !(function () {
              let script = document.createElement("script");
              
              script.src = "https://cdn.jsdelivr.net/npm/rasa-webchat@1.x.x/lib/index.js"; 
              script.async = true; 
              script.onload = () => {
                  
                  window.WebChat.default({
                      title: "Chatbot", 
                      initPayload: "/welcome",
                      customData: { language: "en" }, 
                      socketUrl: "http://localhost:5005/", 
              };
          
              document.head.appendChild(script);
          })();
          localStorage.clear();
      
      </script>
{% endblock %}
