{% extends 'base.html' %}
{% block start %}
{% load static %}
<link rel="stylesheet" href="{% static 'account.css' %}"/>
<style>
    .cb_btn{
        margin-bottom:20px;
        width: 150px;
        margin-top: 30px;
        padding: 8px;
        margin-left: 17px;
        background: linear-gradient(to right, #3f5cce,  #1a2a6c);
        border-radius: 30px;
        cursor: pointer;
        color: #fff;
        font-weight: bold;
    }
    .cb_btn:hover{
        background: yellow;
        color: black;
    }
    .accountform label{
        color:#ffff;
        font-weight:bold;
        text-decoration:underline;
        font-size:18px;
    }
    .accountform{
        margin-bottom:300px;
        margin-top:150px;
        }
    h2{
        font-size:2rem;
        color:blue;
    }
    </style>
    <div class="accountform">
    <form method="post" class="Forgetpwd_form">
        {% csrf_token %}
        <h2>Set New Password</h2>
        {% if error %}<p style="color: yellow;">{{ error }}</p>{% endif %}
        <label for="new_password">New Password:</label>
        <input type="password" name="new_password" required minlength="6" >
        <button type="submit" class="cb_btn">Reset Password</button>
    </form>
</div>

{% endblock %}