{% extends 'Base.html' %}
{% block start%}
{% load static %}
<link rel="stylesheet" href="{% static 'account.css' %}"/>
<style>
.cb_btn{
    margin-bottom:20px;
    width: 150px;
    margin-top: 30px;
    padding: 8px;
    margin-left: 17px;
    background: linear-gradient(to right, #3f5cce,  #1a2a6c);
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}
.cb_btn:hover{
    background: yellow;
    color: black;
}
.accountform label{
    color:navy;
    font-weight:bold;
    text-decoration:underline;
    font-size:18px;
}
.accountform{
    margin-bottom:300px;
    margin-top:150px;
    }
h2{
    font-size:2rem;
    color:blue;
}
.accountform form input{
    width:80%;
}
</style>
<div class="accountform">
    <form method="post" class="Forgetpwd_form">
        {% csrf_token %}
        <h2>Reset Password</h2>
        {% if error %}<p style="color: red;">{{ error }}</p>{% endif %}
        <label for="email">Email:</label>
        <input type="email" name="email" required placeholder="Enter your registered email">
        <button type="submit" class="cb_btn">Send Reset Link</button>
    </form>
</div>
{% endblock %}
